.header
{
background-color:#3A3752;
color:#077FF7;
font-size:50px;
}

body
{
margin:0px 0px 0px 0px;
/*background-color:#CFCFD9;*/
/*background-color:#E2E2E8;
/*background-color:#D4DBE8; */
/*background-color:#D6D5E3;*/
background-color:#EBF5FE;
}
